<!DOCTYPE html>
<!-- Comparative Tumor RNA-Seq Analysis -->
<html>
<head>
    <meta charset="utf-8">
    <title>Comparative Tumor RNA-Seq Analysis</title>

    <!-- Semantic UI -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <!-- HTML Sheets of Paper -->
    <style type="text/css">
        {{ get_resource_as_string(
            './treehouse/css/HTML-Sheets-of-Paper/sheets-of-paper.css') | safe }}
    </style>
    <style type="text/css">
        {{ get_resource_as_string(
            './treehouse/css/HTML-Sheets-of-Paper/sheets-of-paper-usletter.css') | safe }}
    </style>
    <script type="text/javascript">
        // Distinguish between slides and findings for later javascript
        documentTypeIsSlides = false;
    </script>
    <!-- File edited by the analyst -->
    <script type='text/javascript' src='annotations.json'></script>
    <!-- Script to add the analyst items to the document -->
    <script type='text/javascript'>
        {{ get_resource_as_string('./treehouse/js/summary.template.js') | safe }}
    </script>

    <!-- my css -->
    <style type="text/css">
        {{ get_resource_as_string('./treehouse/css/summary.template.css') | safe }}
    </style>
</head>
<body class="document" onload="populateSections();toggleRegistryItems();">
    <!-- Header & footer - text will appear on all pages -->
    <header id="header">
        <p>FOR RESEARCH PURPOSES ONLY &bull; PREPARED FOR THE CLINICAL TEAM</p>
    </header>
    <footer id="footer">
        <img src="https://treehousegenomics.soe.ucsc.edu/wp-content/uploads/2018/01/GILogoForTertiarySlides.png"
            style="height:0.3in;margin-right:0.1in;">
        <div>
            Copyright © 2019 The Regents of the University of California &bull; All Rights Reserved &bull;
            Created by Treehouse Childhood Cancer Initiative<br/> The TumorMap and Outlier tests are research tests developed
            and evaluated at the University of California Santa Cruz. These tests have not been cleared or approved by the FDA.
            The results from these tests are intended to serve as guidance,
            with findings confirmed by a clinically approved test.
        </div>
    </footer>

  <!-- Sticky note to set up formatting -->
    <div id="formatting_sticky" class="noprint">
      <a id="close_sticky_button" style="border:2px solid black;" onclick="close_sticky()">&nbsp;X&nbsp;</a>
      <a id="open_sticky_button" style="border:2px solid black; display:none;" onclick="open_sticky()">&nbsp;+&nbsp;</a>
      <br/><br/>
    <button style="margin-bottom:5px;"
      onclick="toggle_full_summary(false)">Show one-page summary</button><br/>
    <button style="margin-bottom:5px;"
    onclick="toggle_full_summary(true)">Show full summary</button><br/>
    <button style="margin-bottom:5px;"
    onclick="window.print();">Print</button><br/>
    </div>
  <!-- end sticky note -->


    {% if "S01" not in sample_id %}
    <!-- Alert if we appear to be a _S02, _S03, etc. -->
        <div id="other_samples_alert" class="noprint"
             style="position:fixed;z-index:10;margin:10px;
                    padding:10px;width:250px;background-color:#FFFFAA">
            {{sample_id}} may be the second or later sample of an 
            existing case.
            Analyze this sample in the context of any previous analysis for this 
            case, and record how this was done in the Case Documentation.
            <h4>To hide this message, remove the "#" from "#other_samples_alert" in the annotations.json
                "hideable_items" section.</h4>
        </div>
    {% endif %}

    {% if analysis_failed %}
        <div id="analysis_failed" class="noprint"
             style="position:fixed;z-index:10;margin-top:1in;
            {%- if analysis_failed.maxlevel == '4' -%}
                background-color:#FFCCCC;
            {%- elif analysis_failed.maxlevel == '2' -%}
                background-color:#FFFFAA;
            {%- else -%}
                background-color:#CCCCFF;
            {%- endif -%}
            ">
            <!-- make it closeable -->
            <h1><a style="border:2px solid black;"
                   onclick="document.getElementById('analysis_failed').style.display='none';">&ensp;X&ensp;</a></h1>
            
            {% if analysis_failed.maxlevel == "4" %}
              {% set failcolor = 'red' %}
              {% set failtitle = 'TERTIARY ANALYSIS FAILED' %}
              {% set failtext = "When running tertiary analysis, there were one or more " ~
                  "quality control failures for this sample! <br/> Please review the following " ~
                  "list of failures and alerts and take appropriate action before continuing "
                  "analysis on the sample." %}
            {% elif analysis_failed.maxlevel == "2" %}
              {% set failcolor = '#DDAA00' %}
              {% set failtitle = 'TERTIARY ANALYSIS ALERT' %}
              {% set failtext = "The tertiary analysis raised one or more alerts requiring " ~
                  "analyst review! <br/> Please review the following list of alerts and " ~
                  "ensure that they will not affect analysis on the sample, taking measures " ~
                  "to mitigate them if necessary." %}
            {% else %}
              {% set failcolor = 'blue' %}
              {% set failtitle = 'TERTIARY ANALYSIS NOTICE' %}
              {% set failtext="Please review the following notices and take appropriate action." %}
            {% endif %}
            <div style="padding:1in;">
                <h1 style="color:{{failcolor}}">{{failtitle}}</h1>
                <p>{{failtext|safe}}</p>
                {% for step_number, details in analysis_failed.reason|dictsort %}
                    <h3>Step {{ step_number }}:</h3>
                    <p>{{details|safe}}</p>
                {% endfor %}

                <h3>To permanently remove this message, edit annotations.json and remove the
                    "#" from "#analysis_failed" in the "hideable_items" section.</h3>
                The information in this message will always be available in the 
                "Processing Notes" appendix.

                <h1 style="color:{{failcolor}}">{{failtitle}}</h1>
            </div>
        </div> <!-- end analysis_failed -->
    {% else %}
        <div id="analysis_failed" style="display:none;"><!--placeholder when did not fail--></div>
    {% endif %}

    <!-- Wrapper table: All paged content is contained in this table to allow placeholder footers to take effect-->
    <table>
        <thead id="ph_header"><tr><td>&nbsp;</td></tr></thead>
        <tfoot id="ph_footer"><tr><td>&nbsp;</td></tr></tfoot>
        <tbody><tr><td>

    <div class="page" id="front_page"> <!-- Front Page-->
        <!-- HEADER -->
        <img src="https://treehousegenomics.soe.ucsc.edu/wp-content/uploads/2016/08/LG_UCSC_GenomiceInstitute_Treehouse_Logo.png"
            style="position:absolute;left:0.1in;top:0.1in;width:1.5in;">
        <div id="date_of_analysis" style="position:absolute;left:7.5in;top:0.2in;">xx/xx/2018</div>
        <div>
            <h3 class="ui center header" style="text-align:center;margin:px;margin:5px 0px 10px 0px;">
                Treehouse Analysis: Sample <span id="partner_id">XXXXXXXXX</span> ({{sample_id }})
            </h3>
            <h4 class="ui center header" style="text-align:center;margin:0px;">
                Analyst: <span id="analyst_name"></span> &emsp;&emsp;&emsp;&emsp;
                Reviewer: <span id="reviewer_name"></span>
             </h4>
        </div>
        
        <!-- FRONT PAGE MODULES -->
        <div id="front_page_content">
        <div id="clinical_and_primarycat">
        <!-- CLINICAL DATA -->
        <div class="module ui" id="clinical_data">
            
            <!-- Clinical data table: two divs -->
            <div class="ui basic top attached table" style="display:flex;flex-direction:column;">
                
                <span class="clinicalrow">
                    <span class="ui horizontal label">Diagnosis</span><span id="diagnosis">XX</span>
                </span>
                
                <span class="clinicalrow">
                    <span style="flex-basis:37%;">
                        <span class="ui horizontal label">Gender</span><span id="gender">XX</span>
                    </span>
                    <span style="flex-basis:63%;">
                        <span class="ui horizontal label">Anatomical Source</span><span id="sample_submitted">XX</span>
                    </span>
                </span>
                <span class="clinicalrow">
                    <span style="flex-basis:37%;">
                        <span class="ui horizontal label">Age at Diagnosis</span><span id="age">XX</span>
                    </span>
                    <span style="flex-basis:63%;">
                        <span class="ui horizontal label">Sample Collected by 
                            <span class="registryOnly">Stanford</span><span class="noRegistry">Clinicians</span>
                        </span>
                        <span id="date_of_sample_collection">XX</span>
                    </span>
                </span>
                <span class="clinicalrow">
                    <span style="flex-basis:37%;">
                        <span class="ui horizontal label">Age at Relapse</span>
                        <span id="age_at_relapse">XX</span>
                    </span>
                    <span style="flex-basis:63%;">
                        <span class="ui horizontal label">Sequence Received by Treehouse</span>
                        <span id="sample_received">XX</span>
                    </span>
                </span>
            </div>
            <div class="ui basic bottom attached table" style="padding:3px;">
                    <span>
                        <span class="ui horizontal label ">Relevant&nbsp;Clinical&nbsp;Notes</span>
                        <span id="relevant_clinical_notes">XX</span>
                    </span>
            </div> <!--end clinical table two divs -->
           
            <!-- foundation medicine and other molecular testing -->
            <table class="ui basic top attached table registryOnly" id="m_foundation_medicine"
                   style="padding:5px;margin-top:0px;font-size:12px;margin-bottom:0px;">
                <tr>
                        <td style="padding:0px;margin:0px;">
                            <span class="ui horizontal label" style="margin:0px;">Foundation Medicine</span>
                            <span id="foundation_medicine"><!-- populated by javascript --></span>
                        </td>
                </tr></table>
            <table class="ui basic bottom attached table" id="m_additional_molecular_testing"
                   style="padding:5px;margin-top:0px;font-size:12px;">
              <thead>
                    <tr>
                        <td style="padding:0px;border-bottom:none;">
                            <span class="ui horizontal label" style="margin:0px;">
                                <span class="registryOnly">Additional </span>Molecular Testing</span>
                        </td>
                    </tr>
                </thead>
                <tbody id="prior_molecular_testing">
                    <!-- populated by javascript -->
                </tbody>
            </table>
        </div><!-- end CLINICAL DATA + prior molecular testing module-->
        <!-- MOLECULAR CATEGORY -->
        <div class="module" id="m_molecular_category" style="margin-top:0px;">
            <!-- Next column: primary categorization and notes -->
            <h4 class="ui top center attached aligned inverted header registryOnly toprightBox" style="margin-top:0px;">
                Treehouse Primary Categorization
            </h4>
            <div id="molecular_category" class="ui attached segment registryOnly toprightBox">
                <span id="RTK"><input type="checkbox"/> RTK: VEGFR/PDGFR/FGFR</span><br/>
                <span id="Cell_Cycle"><input type="checkbox"/> Cell Cycle</span><br/>
                <span id="JAK_STAT"><input type="checkbox"/> JAK/STAT</span><br/>
                <span id="PI3K_AKT_mTOR"><input type="checkbox"/> PI3K/AKT/mTOR</span><br/>
                <span id="other"><input type="checkbox"/> Other:</span>
            </div>
            <!-- If you find a better way to do this please fix it. -->
            <div id="primary_categorization_notes_container2" class="ui top attached segment noRegistry toprightBox" 
                 style="margin:0px -1px 0px -1px;padding:2.5px;border-bottom:none"></div>
            <div id="primary_categorization_notes_container" class="ui bottom attached segment toprightBox" 
                 style="padding:0px 5px 5px 5px;">
                <div class="registryOnly" style="padding:2.5px;"></div>
                <span class="ui horizontal label"> Treehouse QC Metrics</span><br/>
                <span id="primary_categorization_notes">
                    <script>
                        // these are needed for the RIN section of parseCustom in summary.template.js
                        let nb4pt25_RIN_Precise_result = "{{ nb_4pt25['RIN']['Precise_result'] }}";
                        let nb4pt25_RIN_Precise_reference_lower = "{{ nb_4pt25['RIN']['Precise_reference_lower'] }}";
                    </script>
                    <table id='qctable' border='1' style='font-size:7pt;'>
                    {% set asterisk = nb_4pt25["Asterisk"] %}
                        
                    {% set UMENDthreshold = nb_4pt25["UMEND_threshold"]/10**6 %}
                    
                    {% set RIN_ref = nb_4pt25['RIN']['Rounded_reference_range'].split(" - ")%}
                    {% set RIN_ref_lower = RIN_ref[0] %}
                    {% set RIN_ref_upper = RIN_ref[1] %}
                    {% set RIN = nb_4pt25['RIN']['Rounded_result'] %}
                    {% if nb_4pt25['UMEND_reads/Total_reads']['Rounded_result'] is number %}
                        {% set pctUMEND = nb_4pt25['UMEND_reads/Total_reads']['Rounded_result']*100 %}
                    {% else %}
                        {% set pctUMEND = nb_4pt25['UMEND_reads/Total_reads']['Rounded_result'] %}
                    {% endif %}
                    
                    {% set passing = False %}
                    {% set rowColoringFailOrNot = "#ffe8e6" %}
                    {% set textColorFailOrNot = "#9a1e1e" %}
                    {% if nb_4pt25['RIN']["In_reference_range?"]=="Yes"%}
                        {% set passing = True %}
                        {% set rowColoringFailOrNot = "" %}
                        {% set textColorFailOrNot = "" %}
                    {% endif %}
                    <tr>
                        <td></td>
                        <td align="center"> 
                            {% if nb_4pt25['UMEND_reads/Total_reads']['asterisk'] or nb_4pt25['RIN']['asterisk'] or nb_4pt25['Read_count_table']['asterisk']%}
                            Result*
                            {% else %}
                            Result
                            {% endif %}
                        </td>
                        <td align="center"> Range </td>
                        <td align="center"> Ok? </td>
                    </tr>
                    <tbody>
                    
                    <tr class="odd" id="rin_row_display"
                        style="background-color:{{rowColoringFailOrNot}}; color: {{textColorFailOrNot}}">
                            <td align="center">RIN</td>
                            <td align="center" id="rin_score_display">
                                {% if nb_4pt25['RIN']['Result'] is string %}
                                    {{ nb_4pt25['RIN']['Result'] }}
                                {% else %}
                                    {% if nb_4pt25['RIN']['asterisk'] %}
                                        {% if nb_4pt25['RIN']['Precise_result'] > nb_4pt25['RIN']['Precise_reference_lower'] %}
                                            &gt; {{ RIN }}
                                        {% elif nb_4pt25['RIN']['Precise_result'] > nb_4pt25['RIN']['Precise_reference_upper']  %}
                                            &gt; {{ RIN }}
                                        {% elif nb_4pt25['RIN']['Precise_result'] == nb_4pt25['RIN']['Precise_reference_lower']  %}
                                            &equals; {{ RIN }}
                                        {% else %}
                                            &lt; {{ RIN }}
                                        {% endif %}
                                    {% else %}
                                        {{ RIN }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            
                            <td align="center">{{nb_4pt25['RIN']['Rounded_reference_range']}}</td>
                            <td align="center" id="rin_passfail_display">
                                {%- if passing -%}
                                    PASS
                                {%- elif nb_4pt25['RIN']["In_reference_range?"]=="NA" -%}
                                    NA
                                {%- else -%}
                                    FAIL
                                {%- endif -%}
                            </td>
                        </tr>
                    {% set passing = False %}
                    {% set rowColoringFailOrNot = "#ffe8e6" %}
                    {% set textColorFailOrNot = "#9a1e1e" %}
                    {% if "This sample exceeds the minimum required threshold of" in nb_4pt25['Threshold_Statement'] %}
                        {% set passing = True %}
                        {% set textColorFailOrNot = "" %}
                        {% set rowColoringFailOrNot = "" %}
                    {% endif %}
                    <tr class="even" style="background-color:{{rowColoringFailOrNot}}; color: {{textColorFailOrNot}}";>
                            <td align="center">MEND (M)</td>
                            <td align="center">
                                {% if nb_4pt25['Read_count_table']['UMEND'] is string %}
                                    {{ nb_4pt25['Read_count_table']['UMEND'] }}
                                {% else %}
                                    {% set mil_umend = nb_4pt25['Read_count_table']['UMEND']/10**6 %}
                                    {% set mil_umend = mil_umend|round(2) %}
                                    {% if nb_4pt25['Read_count_table']['asterisk'] %}
                                        {% if nb_4pt25['Read_count_table']['UMEND'] > UMENDthreshold %}
                                            &gt; {{ mil_umend }}
                                        {% elif nb_4pt25['Read_count_table']['UMEND'] == UMENDthreshold %}
                                            &equals; {{ mil_umend }}
                                        {% else %}
                                            &lts; {{ mil_umend }}
                                        {% endif %}
                                    {% else %}
                                        {{'%0.1f'|format(mil_umend)}}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td align="center">&gt; {{UMENDthreshold}}</td>
                            <td align="center">
                                {% if passing %}
                                    PASS
                                {% else %}
                                    FAIL
                                {% endif %}
                            </td>
                        </tr>
                    {% set passing = False %}
                    {% set rowColoringFailOrNot = "#ffe8e6" %}
                    {% set textColorFailOrNot = "#9a1e1e" %}
                    {% if nb_4pt25['UMEND_reads/Total_reads']['In_reference_range?'] == "Yes" %}
                        {% set passing = True %}
                        {% set textColorFailOrNot = "" %}
                        {% set rowColoringFailOrNot = "" %}
                    {% endif %}
                    <tr class="odd" style="background-color:{{rowColoringFailOrNot}}; color: {{textColorFailOrNot}}";>
                            <td align="center">% MEND</td>
                            <td align="center">
                                {% if nb_4pt25['UMEND_reads/Total_reads']['Result'] is string %}
                                    {{ nb_4pt25['UMEND_reads/Total_reads']['Result'] }}
                                {% else %}
                                    {% if nb_4pt25['UMEND_reads/Total_reads']['asterisk'] %}
                                        {% if nb_4pt25['UMEND_reads/Total_reads']["Precise_result"] >
                                                nb_4pt25['UMEND_reads/Total_reads']["Precise_reference_lower"] %}
                                            &gt; {{ pctUMEND }}
                                        {% elif nb_4pt25['UMEND_reads/Total_reads']["Precise_result"] ==
                                                nb_4pt25['UMEND_reads/Total_reads']["Precise_reference_lower"] %}
                                            &equals; {{ pctUMEND }}
                                        {% else %}
                                            &lt; {{ pctUMEND }}
                                        {% endif %}
                                    {% else %}
                                        {{ pctUMEND }}
                                    {% endif %}
                                {% endif %}

                            <td align="center">
                                {% set ref = nb_4pt25['UMEND_reads/Total_reads']['Rounded_reference_range'].split(" - ")%}
                                {{ ref[0]|float * 100 }} - {{ ref[1]|float * 100 }}
                            </td>
                            <td align="center">
                                {% if passing %}
                                    PASS
                                {% else %}
                                    FAIL
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                    {% if nb_4pt25['UMEND_reads/Total_reads']['asterisk'] or nb_4pt25['RIN']['asterisk'] or nb_4pt25['Read_count_table']['asterisk']%}
                        <span style='font-size:7pt;'>* Values appear equal due to rounding.</span>
                    {% endif %}
                </span>
            </div>
        
        </div><!-- end primary categorization+notes -->
        </div><!-- end clinical_and_primarycat -->
        <!-- ALL MOLECULAR FINDINGS -->
        <div class="module" id="rationale">
            <h4 class="ui top attached center aligned inverted header">
                Comparative Tumor RNA-Seq Analysis Findings
            </h4>
            <table class="ui attached celled compact table">
                <thead>
                    <tr>
                        <th style="padding:3px;">Molecular<br/>Abnormality</th>
                        <th style="padding:3px;">Molecular Category</th>
                        <th style="padding:3px;">Associated Drugs<span class="registryOnly">*</span></th>
                        <th style="padding:3px;">Analyst Summary</th>
                    </tr>
                </thead>
                <tbody id="all_molecular_findings"> 
                    <!-- This table is populated by analyst text -->
                </tbody>
            </table>
            <div style="column-count:2;padding:5px;" class="ui attached tiny segment">
                <ol class="ui list">
                    <li value="a)"> outlier compared to all tumors (pan-cancer)</li>
                    <li value="b)"> outlier compared to similar tumors (pan-disease)</li>
                    <li value="c)"> pathway enrichment in pan-cancer outlier list</li>
                    <li value="d)"> pathway enrichment in pan-disease outlier list</li>
                    <li value="e)"> pathway enrichment in overlap outlier list</li>
                    <li value="f)"> pathway enrichment in top 5% expressed genes</li>
                    <li value="g)"> tumor similarity analysis</li>
                    <li value="h)"> literature evidence</li>
                    <li value="i)"> other molecular support 
                        (mutation, fusion, amplification, immunohistochemistry)</li>
                </ol>
            </div>
            <div style="padding:3px;line-height:105%;" class="ui bottom attached tiny segment registryOnly">
                *"Associated Drugs" have been identified by Stanford treating oncologists and are included in Stanford
                IRB Protocol #44179. For more information on these drugs, visit cancer.gov and search for the drug name.
            </div>
        </div><!-- end ALL MOLECULAR FINDINGS -->

        <div id="pathway_and_tumormap">    
        <div class="module" id="m_pathway_summary">
            <h4 class="ui top attached center aligned inverted header" id="pathway_title">
                Pathway Summary
            </h4>
            <div class="slidebox ui attached segment" style="padding:2px;">
                <img src="pathway.png" class="frontpage_img" id="pathway_img">
            </div>
            <div id="pathway_caption" class="ui bottom attached tiny segment" style="padding:5px;"> 
                ~~~ ~~~ ~~~ ~~~
            </div>
        </div>

        <!-- Tumormap Graphic -->
        <div class="module" id="tumormap">
            <h4 class="ui top attached center aligned inverted header" id="tumormap_title"> 
                TumorMap
            </h4>
            <div class="slidebox ui attached segment" style="padding:2px;">
                <img src="tumormap.png" class="frontpage_img" id="tumormap_img">
            </div>
            <div class="ui bottom attached tiny segment" style="padding:5px;max-height:85px;" id="tumormap_caption">
                ~~~ ~~~ ~~~ ~~~
            </div>
        </div> <!-- End Tumormap Graphic -->
        </div> <!-- id="pathway_and_tumormap" -->  
        </div><!-- end of front_page_content div -->
    </div> <!-- end of PAGE 1 div -->
    <div class="page appendices" style="height:auto;margin-top:0in;"><!-- PAGE 2 : APPENDIX -->
                
 <!-- secondpage: move it to its own page later -->
         <h2 class="ui center header" style="text-align:center;">
             Treehouse Interpretation Summary
         </h2>
             <!-- interpretation summary intro -->
             <div id="interpretation_analytical_summary" style="padding:1%;"> xxx interpretation_analytical_summary xxx </div>
 
             <!-- Summary with findings -->
             <style>
             #interpretation_clinical_summaries > p { margin-bottom:1%; margin-top:0; }
             #interpretation_clinical_summaries > u { display:block; }
             </style>
             <div id="interpretation_clinical_summaries" class="ui message" style="margin-top:0px;">xxx interpretation_clinical_summaries xxx</div>
         <center>
         <img src="findings.png" style="width:6.5in;">
         </center>
 
 <div class="page-break"></div>
 <!-- end secondpage -->
                
                
    <div class="toggle-fullSummary"><!-- appendix part 1 container -->
        
        <h2 class="ui center header" style="text-align:center;">
            Appendix to Treehouse Comparative RNA-Seq Analysis Report
        </h2>

        <div id="app_library_construction_note" class="appendix">
            <h3>Library Construction Note</h3>
            The RNA-Seq library for this case was constructed using a ribo-deplete protocol.
            Most RNA-Seq datasets in the Treehouse Reference Compendium are constructed using a polyadenylation
            protocol, and this library construction method is assumed in our computational analysis.
            The pathway analysis findings for this case were manually curated to exclude
            non-polyadenylated transcripts.
        </div>
        <div id="analyst_custom_appendix" class="appendix">
            <h3>Analyst Custom Appendix Goes Here</h3>
             XXX XXX XXX XXX
        </div>
        <div class="appendix" id="app_quality_control">
            <h3>Quality Control</h3>
            {% set umends = conf.info.secondary_qc.estExonicUniqMappedNonDupeReadCount %}

            {% if umends < 1000000 %}
                {% set umends_fmt = "less than one million" %}
            {% elif (umends < 10000000) and (umends > 9995000) %} <!-- if it rounds to 10m but is less than that -->
                {% set umends_fmt = "9.99 million" %}
            {% elif umends < 100000000 %} <!-- less than 100m : use decimal place -->
                {% set umends_fmt = "{0:.3g}".format((umends | float) / 1000000) + " million" %}  
            {% else %} <!-- more than 100m: display as integer -->
                {% set umends_fmt = (((umends | float) / 1000000) | int | string) +" million" %}
            {% endif %}
            
            {% if conf.info.secondary_qc.qc == "PASS" %}
                <div class="ui message"  style="margin-top:0px;">
                    This sample meets the quality control standard with 
                    {{ umends_fmt }}
                    MEND reads.
                </div>
            {% else %}
                <div class="ui red message" style="margin-top:0px;">
                    This sample does not meet the quality control standard. It has only
                    {{ umends_fmt }} MEND reads.
                </div>
            {% endif %}
            The quality of this sample was assessed by enumerating the number of Mapped Exonic
            Non-Duplicate (MEND) reads as described at https://github.com/UCSC-Treehouse/mend_qc.
            We have set a standard of 10 million MEND reads to ensure accurate
            comparative RNA-Seq analysis based on TumorMap and Gene Expression Outlier analyses.
        </div>
        <div id="app_versions" class="appendix">
            <h3>Versions</h3>
            <div class="ui message" style="margin-top:0in;">
                <div>
                    <h4>Reference Compendium</h4>
                    {{conf.cohort.info.description|safe}}
                    The 95th Percentile Correlation Threshold for this Reference Compendium is 
                    {{conf.cohort.info.mcs_similarity_threshold}}.<br/>
                    This Threshold is the correlation value which exceeds 95% of all 
                    sample-to-sample Spearman correlations within the Reference 
                    Compendium. It is used as a measure of the significance of the focus 
                    sample's correlation with other samples.
                </div>
                <div style="margin-top:10px;">
                    <h4>Protocol</h4>
                    The Treehouse CARE version used was
                    {{conf.info.git_url[52:]}}.
                    <!-- This is to get the version number, EXTREMELY BRITTLE :( -->
                    It can be accessed at <a href="{{conf.info.git_url}}">{{conf.info.git_url}}</a>
                    and the Git hash is {{conf.info.git_hash}}.
                </div>
            </div>
        </div>
        <div id="app_most_correlated_samples" class="appendix">
        <h3>TumorMap Analysis</h3>
                <div class="ui message" style="margin-top:0px;margin-bottom:0px;">
                    The TumorMap for this patient indicates that the tumor is most similar to tumors
                    with the following Diagnoses:
                    <ul>
                        {% for disease in nb_2pt2.personalized_cohort_counts[
                            "pandisease_samples"]["diseases"].keys() | sort %}
                            <li> {{disease }} </li>
                        {% endfor %}
                    </ul>
                </div>
            <span>
                TumorMap provides a visualization of the genomic similarity among tumor 
                samples (Newton 2017).
                Each &quot;dot&quot; represents a sample. Samples are laid out in a
                two-dimensional space based on how similar their RNA-Seq-derived gene expression
                profiles are to each other.<br/>
                TumorMap is a research tool and is used to
                to gain insight into how a given individual&#39;s tumor RNA
                sequencing profile compares to profiles of tumors in the reference cohort. 
                TumorMap should not be used as a stand-alone diagnostic tool.<br/>
                The samples with the profiles most similar to the patient are listed below.
            </span>
        </div>
        <div class="module appendix" id="app_mcs_table">
            <h4 class="ui top attached center aligned inverted header">
                Most Correlated Samples
            </h4>
           {% if nb_2pt0.tumormap_results_above_threshold %}{# Only show table if we have at least one above threshold #}
            <table class="ui bottom attached small celled table" id="mcs_mutations_table">
                <tr>
                    <td><b>Sample ID</b></td>
                    <td><b>Score</b></td>
                    <td><b>Disease</b></td>
                    <td><b>Age</b></td>
                    <td><b>Mutations in Cancer Genes</b></td>
                </tr>
                {% for (mcs_id, tumormap_correlation) in nb_2pt0.tumormap_results|dictsort(
                    false, 'value') | reverse %}
                    {# Skip results not in the mutation table, eg focus sample, or below threshold #}
                    {% if mcs_id in nb_2pt6.mss_clin_and_mutations["Disease Type"] %}
                        {% if mcs_id in nb_2pt0.tumormap_results_above_threshold %}
                        <tr>
                            <td>
                                {{mcs_id}}
                            </td>
                            <td>
                                {{'{:.2f}'.format( tumormap_correlation)}}
                            </td>
                            <td>
                                <span id="diagnosis_{{mcs_id}}">
                                {{ nb_2pt6.mss_clin_and_mutations ["Disease Type"][mcs_id]}}
                                </span>
                            </td>
                            <td>
                                {% if nb_2pt6.mss_clin_and_mutations ["Age at Dx (Years)"][mcs_id] %}
                                    {{ nb_2pt6.mss_clin_and_mutations ["Age at Dx (Years)"][mcs_id] |
                                        float | round(1) }}
                                {% else %}
                                    no information available
                                {% endif %}
                            </td>
                            <td>
                                <span id="mutations_{{mcs_id}}">
                                    {% if nb_2pt6.mss_clin_and_mutations[
                                        "Mutations in Cancer Genes"][mcs_id] %}
                                        {{ nb_2pt6.mss_clin_and_mutations
                                            ["Mutations in Cancer Genes"][mcs_id]}}
                                    {% else %}
                                        no information available
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
            {% else %}
                <div class="ui basic bottom attached segment">
                   There were no Most Correlated Samples with a correlation meeting the 
                    required 95th Percentile Correlation Threshold.
                </div>
            {% endif %}
        </div> <!-- end app_mcs_table -->
        {% set mcs_ids = nb_2pt6.mss_clin_and_mutations["Disease Type"] %}
        
        <div class="module appendix" id="Additional_TumorMap_Graphics" >
            <h4 class="ui top attached center aligned inverted header">
                TumorMap Legend
            </h4>
            <div style="display:flex;justify-content:center;" class="ui bottom attached segment">
                <div id="full_tumormap_legend" 
                     style="font-size:9px;line-height:105%;display:flex;justify-content:space-between;">

                     <!-- I can't use style="column-count:4" because when it prints it unexplainably adds an extra overflow
                    column that destroys my layout. So, manually arrange into equal-length columns instead. -->
                    {% set total_diseases = nb_2pt2.tumormap_legend.keys() | length %}
                    {% set columncount = 4 %}
                    {% set dis_per_column = (total_diseases / columncount) |round(0,"ceil")| int %}
                    {% set diseasecount=[] %} <!-- Have to use array+length to increment counts within a loop. Ugh. -->
                    
                    {%- if dis_per_column > 0 -%}
                    {%- for (disease, disvalue) in nb_2pt2.tumormap_legend|dictsort -%} 
                        {# Hit a new column - create its div #}
                        {%- if (diseasecount | length ) % dis_per_column == 0 -%}<div style=padding:5px;>{%- endif -%}
                        {%- if diseasecount.append(0) -%}{%- endif -%} {# increment, ugh #}
                            <div style="padding:2px; background-color:{{disvalue.color}}
                                {%- if disvalue.is_dark -%}
                                    ; color:#FFFFFF
                                {%- endif -%}">
                                {{disease}}
                            </div>
                        {%- if (diseasecount | length ) % dis_per_column == 0 -%} {# Finished a column #}
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                    {# When done, close the last column if we didn't have an exact close above.#}
                    {# Fake <div> for syntax highlighter #}
                    {%- else -%}
                    There were no diseases present in any pan-disease cohort.
                    {%- endif -%}
                </div><br/>
                <img src="tumormap_extra_2.png" style="width:3.5in;height:2in;" id="tumormap_extra_2">
                <img src="tumormap_extra_3.png" style="width:3.5in;height:2in;" id="tumormap_extra_3">
            </div>
        </div>
        
     
        <br/>
        <div id="app_outlier_lists">
            <h3>Identification of Gene Expression Outliers</h3>
            <div class="ui message" style="margin-top:0;">
                The full list of pan-cancer and pan-disease outliers of this focus sample
                are available upon request.
            </div>
            Gene expression outlier analysis uses a statistical test to identify genes with unusual
            expression levels in the
            patient's tumor (Jones 2010).
            
            <h4 style="margin-top:0.1in;">Pan-Cancer Outliers</h4>
            The pan-cancer analysis is performed by comparing a patient's tumor RNA sequencing profile
            to the RNA sequencing profiles of all tumors in the Reference Compendium.

            <h4 style="margin-top:0.1in;">Pan-Disease Outliers</h4>
            This outlier analysis identifies genes that are unusually expressed relative to
            similar samples. The patient's tumor RNA sequencing profile is compared to the RNA sequencing
            profiles of four different personalized cohorts of similar tumors, and genes are 
            identified which are
            outliers relative to at least two of these.
            <br/>
            The personalized cohorts are:
            <ul>
                <li>
                {%- if conf.info.rollup -%}
                    "Focus Sample Similar Diagnoses":
                    a curated cohort of tumor samples selected by an analyst for similarity to the focus sample.
                {%- else -%}
                    "Focus Sample Diagnosed Disease":
                    all tumor samples annotated with the same diagnosis as the focus sample.
                {%- endif -%}
                </li>
            <li>
           "First Degree Most Correlated Samples": all samples that have a Spearman correlation with
            the focus sample which exceeds the Reference Compendium's 95th Percentile Correlation Threshold 
            (see Versions above).</li>
            <li>"First and Second Degree Most Correlated Samples": first degree most correlated samples
            and in addition each of those samples' first degree most correlated.</li>
            <li>"Diseases of Top Six Most Correlated Samples above Threshold": all tumor samples
            with the same diagnosis as one or more of the six First Degree Most Correlated Samples which 
                had the greatest correlation with the focus sample.</li></ul>
        </div>
        
        <div id="personalized_cohort_counts" class="module appendix">
            <h4 class="ui top attached center aligned inverted header">
                Diagnosis Composition of Personalized Cohorts
            </h4>
            <div class="ui attached small segment" style="display:flex;">
                <div style="width:30%;padding:5px;"><b>Cohort</b>
                </div>
                <div><b>Count of Samples in Cohort by Diagnosis</b>
                </div>
            </div>

            {%- if conf.info.rollup -%}
                {% set  focusdisease_cohort_name = "Focus Sample Similar Diagnoses" %}
            {%- else -%}
                {% set  focusdisease_cohort_name = "Focus Sample Diagnosed&nbsp;Disease" %}
            {%- endif %}
            
            {% set which_cohorts = [["first_degree_mcs_cohort", "First-Degree MCS", "first_degree_thresholds"],
                                ["first_and_second_degree_mcs_cohort", 
                                    "First and Second-Degree MCS", 
                                    "first_and_second_degree_thresholds"],
                                ["diagnosed_disease_cohort", focusdisease_cohort_name, "nof1_disease_thresholds"],
                                ["pandisease_samples",
                                    "Diseases of Top Six Most Correlated Samples above&nbsp;Threshold",
                                    "pandis_thresholds"]] %}
                        
            {%- for (cohort_id, cohort_name, cohort_thresholds) in which_cohorts -%}
                <div class="ui attached small segment" style="display:flex;">
                    <div style="width:30%;padding:5px;"><b>{{cohort_name | safe}}</b></div>
                    
                    <div>
                    {% if (nb_3[cohort_thresholds].keys() | length) < 1 %}
                        <span style="opacity:0.5">
                    {% endif %}
                    
                    {% for (disease, count) in nb_2pt2.personalized_cohort_counts[cohort_id]
                        ["diseases"] | dictsort(false, 'value') | reverse %}
                        
                        {{disease}} &mdash; {{count}}<br/>
                    {% endfor %}
                    </span>
                    <b>
                        Total &mdash;{{ nb_2pt2.personalized_cohort_counts[cohort_id]["total"] }}
                        {% if (nb_3[cohort_thresholds].keys() | length) < 1 %}
                            (Below minimum size; does not contribute to outlier analysis.)
                        {% endif %}
                    </b>
                </div></div>
            {% endfor %}

            <!-- report fraction of disease cohort (other than focus) that are ALSO most correlated samples -->
            <div class="ui message"  style="margin-top:0px;">
                {%- if conf.info.disease -%}
                    {%- set total_disease = nb_2pt2.count_of_samples_same_disease | int - 1 -%}
                    {%- if conf.info.disease in nb_2pt2.personalized_cohort_counts.first_degree_mcs_cohort.diseases -%}
                        {%- set firdeg_disease =
                            nb_2pt2.personalized_cohort_counts.first_degree_mcs_cohort.diseases[conf.info.disease] -%}
                    {%- else -%}{%- set firdeg_disease = 0 -%}{%- endif -%}
                
                    {%- if conf.info.disease in
                        nb_2pt2.personalized_cohort_counts.first_and_second_degree_mcs_cohort.diseases -%}
                        {%- set firsecdeg_disease = 
                            nb_2pt2.personalized_cohort_counts.first_and_second_degree_mcs_cohort.diseases[
                            conf.info.disease] -%}
                    {%- else -%}{%- set firsecdeg_disease = 0 -%}{%- endif -%}
                    
                    This sample has a diagnosis of <b>{{conf.info.disease}}</b>.
                    {%- if total_disease <= 0 %}
                        There are no other samples in the compendium with this diagnosis.
                    {%- else %}
                        Of the {{total_disease}} other {{conf.info.disease}} samples in the compendium, {{ firdeg_disease }}
                        were among the first degree MCS for this focus sample, and {{ firsecdeg_disease}} 
                        were among the first and second degree MCS for this sample.
                    {%- endif -%}
                {%- else -%}
                    No diagnosis was provided for this sample.
                {%- endif -%}

            </div>
            {%- if conf.info.rollup -%}
                <div class="ui message" style="margin-top:0px;">
                    A "Focus Sample Similar Diagnoses" curated cohort was used for this sample.
                    <span id="curated_cohort_note">
                    ~~~ ~~~ ~~~ ~~~
                    </span>
                </div>
            {%- endif -%}
        </div>
        <div id="app_gene_set_overlap" class="appendix">
            <h3>Gene Set Overlap</h3>
            Genes identified by the outlier analysis are further examined for
            statistical enrichment of functional categories and signaling pathways
            using the Molecular Signatures Database (Subramanian 2005) to provide a
            report on statistically significantly enriched pathways. Significantly
            enriched pathways containing cancer drug targets as defined by the Drug
            Gene Interaction Database (Cotto 2017) are tallied below under "Druggable
            Pathways". Genes whose protein products could be targeted by available
            therapies are tallied under "Druggable Genes". Druggable genes and
            pathways may appear in the Pan-Cancer outliers, Pan-Disease outliers,
            the Overlap set of genes which appear in both outlier sets, or the Top 5% set genes
            which have expression in the focus sample above the 95th percentile.
        </div>
        <div class="module appendix" id="m_outlier_analysis_findings">
            <h4 class="ui top attached center aligned inverted header">
                Gene Set Overlap Findings
            </h4>
            <table class="ui bottom attached very compact table" >
                <thead>
                    <tr>
                        <td></td>
                        <td>Pan-Cancer</td>
                        <td>Pan-Disease</td>
                        <td>Overlap</td>
                        <td>Top 5%</td>
                    </tr>
                </thead>
                <tbody id="outlier_analysis_findings">
                    <tr>
                        <td>Druggable Genes</td>
                        <td>{{nb_8.druggable_genes_count.pc_up }}</td>
                        <td>{{nb_8.druggable_genes_count.pd_up }}</td>
                        <td>{{nb_8.druggable_genes_count.comm_up }}</td>
                        <td>{{nb_8.druggable_genes_count.top5 }}</td>
                    </tr>
                    <tr>
                        <td>Druggable Pathways</td>
                        <td>{{nb_8.druggable_pathways_count.pc_up }}</td>
                        <td>{{nb_8.druggable_pathways_count.pd_up }}</td>
                        <td>{{nb_8.druggable_pathways_count.comm_up }}</td>
                        <td>{{nb_8.druggable_pathways_count.top5 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="module appendix" id="expression_plots">
            
                    <h3>Expression of Druggable Up Outliers</h3>
            For each up outlier that is considered druggable, we plot the focus sample's expression, 
            red, versus a histogram of the background cohort expression. The two cohorts plotted are
            the Pan-Cancer cohort and the Diseases of Top Six Most Correlated Samples above Threshold 
            (see Pan-Disease Outliers above for a description of each cohort). The up outlier area for
            each cohort is shown in yellow.
            
            
            {% if nb_4pt5.gene_plots %} <!-- Only show the header if we actually have a plot -->
            <h4 class="ui top attached center aligned inverted header" style="width:100%">
                Druggable Up Outliers vs Cohort Expression
            </h4>
            <table style="width:100%;" class="ui bottom attached segment">
                {% for gene in nb_4pt5.gene_plots %}
                    <tr>
                        <td colspan=2 style="padding:10px">
                            <h4 class="ui center aligned">
                                Gene: {{ gene }}
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        {% if 'pancancer_img_data' in nb_4pt5.gene_plots[gene] %}
                            <td style="background:#ffffff">
                                <img style="width:100%;" src="data:img/png;base64, {{
                                     nb_4pt5.gene_plots[gene].pancancer_img_data}}">
                            </td>
                        {% endif %}
                        {% if 'pandisease_img_data' in nb_4pt5.gene_plots[gene] %}
                            <td style="background:#ffffff">
                                <img style="width:100%;" src="data:img/png;base64, {{
                                    nb_4pt5.gene_plots[gene].pandisease_img_data}}">
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <div class="ui message"  style="margin-top:0px;">
                    This sample had no up outliers considered to be druggable.
                </div>
            {% endif %}
        </div>
        <div class="module appendix registryOnly" id="app_associated_drugs_explainer">
            <h3 style="margin-bottom:0;">Analysis Use of "Associated Drugs" </h3>
                Associated drugs provided here have been identified by Stanford treating oncologists and are included in Stanford IRB Protocol #44179, PD Sheri Spunt, titled "California Initiative to Advance Precision Medicine, California Kids Cancer Comparison, and Treehouse Childhood Cancer Initiative".
    
            <h4 style="margin-bottom:0;">Pathway-Drug Associations</h4>
                        Information about these drugs is provided from www.cancer.gov.

            <h5 style="margin-bottom:0;">RTK &mdash; Pazopanib</h5>
Pazopanib is a small molecule inhibitor of multiple protein tyrosine kinases with potential antineoplastic activity. Pazopanib selectively inhibits vascular endothelial growth factor receptors (VEGFR)-1, -2 and -3, c-kit and platelet derived growth factor receptor (PDGF-R), which may result in inhibition of angiogenesis in tumors in which these receptors are upregulated.
            <h5 style="margin-bottom:0;">Cell Cycle &mdash; Ribociclib</h5>
Ribociclib is an orally available cyclin-dependent kinase (CDK) inhibitor targeting cyclin D1/CDK4 and cyclin D3/CDK6 cell cycle pathway, with potential antineoplastic activity. Ribociclib specifically inhibits CDK4 and 6, thereby inhibiting retinoblastoma (Rb) protein phosphorylation. Inhibition of Rb phosphorylation prevents CDK-mediated G1-S phase transition, thereby arresting the cell cycle in the G1 phase, suppressing DNA synthesis and inhibiting cancer cell growth. Overexpression of CDK4/6, as seen in certain types of cancer, causes cell cycle deregulation.
<h5 style="margin-bottom:0;">PI3K/AKT/mTOR&mdash; Everolimus</h5>A derivative of the natural macrocyclic lactone sirolimus with immunosuppressant and anti-angiogenic properties. In cells, everolimus binds to the immunophilin FK Binding Protein-12 (FKBP-12) to generate an immunosuppressive complex that binds to and inhibits the activation of the mammalian Target of Rapamycin (mTOR), a key regulatory kinase. Inhibition of mTOR activation results in the inhibition of T lymphocyte activation and proliferation associated with antigen and cytokine (IL-2, IL-4, and IL-15) stimulation and the inhibition of antibody production. 
<h5 style="margin-bottom:0;">JAK/STAT &mdash; Ruxolitinib</h5>
            <span>The phosphate salt form of ruxolitinib, an orally bioavailable Janus-associated kinase (JAK) inhibitor with potential antineoplastic and immunomodulating activities. Ruxolitinib specifically binds to and inhibits protein tyrosine kinases JAK 1 and 2, which may lead to a reduction in inflammation and an inhibition of cellular proliferation. The JAK-STAT (signal transducer and activator of transcription) pathway plays a key role in the signaling of many cytokines and growth factors and is involved in cellular proliferation, growth, hematopoiesis, and the immune response; JAK kinases may be upregulated in inflammatory diseases, myeloproliferative disorders, and various malignancies.</span>
        </div>
        <div class="module appendix" id="app_references">
        <h2 style="margin-bottom:0;">References</h2>
        Scientific articles below are identified by PMID, a unique identifier referring to a published
        paper. Articles can be searched by
        PMID at http://www.ncbi.nlm.nih.gov/pubmed<wbr>.
        <ul style="margin-bottom:0in;list-style:none;text-indent:-2em;">
            <li>
                Newton et al. TumorMap: Exploring the Molecular Similarities of Cancer Samples in an
                Interactive Portal. Cancer Res. 2017 Nov 1;77(21):e111&ndash;e114 (PMID:29092953)
            </li>
            <li>
                Jones et al. Evolution of an adenocarcinoma in response to selection by targeted kinase
                inhibitors. Genome Biol 11(8):R82, 2010 (PMID:20696054)
            </li>
            <li>
                Subramanian, Tamayo, et al. Gene set enrichment analysis: A knowledge-based approach
                for interpreting genome-wide expression profiles. PNAS 102(43):15545&ndash;15550, 2005 (PMID:16199517)
            </li>
            <li>
                Cotto, et al. DGIdb 3.0: a redesign and expansion of the drug&ndash;gene interaction database.
                Nucleic Acids Research 2017 Nov 17. (DOI:10.1093/nar/gkx1143)
            </li>
            <li>
                The Cancer Genome Atlas (TCGA): https://cancergenome.nih.gov/
            </li>
            <li>
                Therapeutically Applicable Research to Generate Effective Treatments (TARGET):
                https://ocg.cancer.gov/programs/target
            </li>
        </ul>
        <ul id="finding_specific_references" style="margin-top:0in;list-style:none;text-indent:-2em;">
            <!-- javascript populates analyst-specific references here -->
        </ul>
        </div>
    </div><!-- end appendix part 1 container -->
    </div> <!-- End Page -->
    <div class="page appendices toggle-fullSummary" style="height:auto;">
        <!-- Page 3 : internal appendices -->
        <h2>Treehouse internal appendix for Treehouse comparative RNA-Seq analysis report</h2>
        <h3>Case Documentation</h3>
        <div id="case_documentation">
            To be written by the analyst.
        </div>

        <h3>Processing Notes</h3>
            {% if analysis_failed %}
                <div style="background-color:#FFCCCC;">
                {% if analysis_failed.maxlevel == "4" %}
                    {% set failtype = 'failures' %}
                {% elif analysis_failed.maxlevel == "2" %}
                    {% set failtype = 'alerts' %}
                {% else %}
                    {% set failtype = 'notices' %}
                {% endif %}
                There were one or more quality control {{failtype}} for this sample:<br/>
                <ul>
                    {% for step_number, details in analysis_failed.reason|dictsort %}
                        <li>
                            <b>Step {{ step_number}}</b> {{details|safe}}
                    </li>
                    {% endfor %}
                </ul>
                </div>
            {% else %}
                There are no automated processing notes for this sample.
            {% endif %}
        <h3>Secondary QC</h3>
        {# Hack: we remove capital U from these metrics so it prints MEND
        instead of UMEND. TODO: rename to MEND in 4.25 and throughout instead.#}
        {{nb_4pt25['Threshold_Statement'] }}<br/>
        <h4>Read Count Table</h4>
        <table class="ui basic collapsing celled table">
        {% set readcount_metrics = ["UMEND", "Total_sequences", "UM", "UMND",  "Multimapped_reads"] %}
        {% for metric in readcount_metrics%}
            <tr><td>{{metric | replace( "U", "")}}</td>
            <td>{% if metric is number %} {{"{:,}".format(nb_4pt25['Read_count_table'][metric] / 1000000)}} million
                {% else %} {{nb_4pt25['Read_count_table'][metric]}}
                {% endif %}</td></tr>
        {% endfor %}
        </table>
        <h3> Metrics</h3>
        {% set qc_metrics= ["UMEND_reads/Total_reads", "Duplicate_reads/Total_reads","RIN","Expressed_genes_(*1000)",
        "Pan-cancer_up_outliers","95th_percentile_of_genes_in_sample_(log2(TPM)+1)"] %}
        {% set qc_metric_names = ["Measure", "Result", "Reference_range","In_reference_range?","n_samples"] %}
        <table class="ui basic collapsing celled padded table">
            <tr>
            {% for metric_name in qc_metric_names %}
                <th>{{metric_name | replace("_", " ")}}</th>
            {% endfor %}
            </tr>
        {% for metric in qc_metrics %}
            {% if nb_4pt25[metric]["In_reference_range?"] == "Yes" %}
                {% set metric_row_style = "" %}
            {% else %}
                {% set metric_row_style = "background-color:#FFCCCC;" %}
            {% endif %}
            <tr style={{metric_row_style}}>
                {% for metric_name in qc_metric_names %}
                    <td>{{nb_4pt25[metric][metric_name] | replace( "U", "")}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        {# end secondary QC section #}

        <span id="TumorMap_URLs">
            <h3>TumorMap URLs</h3>
            <a href="{{ nb_2pt5.calculated_nof1_url   }}">Focus Sample (calculated)</a><br/>
            <a href="{{ nb_2pt5.mcs_only_url   }}">Most Correlated Samples</a><br/>
            <a href="{{ nb_2pt5.mcs_above_threshold_url   }}">
                Most Correlated Samples Above Threshold</a><br/>
            <a href="{{ nb_2pt5.calculated_nof1_and_mcs_url   }}">
                Most Correlated Samples and Focus Sample (calculated)</a><br/>
        </span>
        <br/>
        <div class="module appendix" id="automated_leads">
            <h4 class="ui top attached center aligned inverted header">
                Leads Identified by Automated Analysis
            </h4>
            <table>
                {% if not nb_8.automated_leads_identified %}
                    <tr>
                        <td colspan=2>
                            No automated leads found.
                        </td>
                    </tr>
                {% endif %}
                {% for lead_number, assay in  nb_8.automated_leads_identified.assay|dictsort  %}
                    <tr>
                        <td style="padding-top:10px">
                            <b>Assay:  {{ assay }}</b>
                        </td>
                        <td colspan=2 style="padding-top:10px">
                            {{nb_8.automated_leads_identified.results[lead_number] | replace("_", " ") }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan=3 style="border-bottom: 2px solid #555; padding-bottom:10px">
                            {{nb_8.automated_leads_identified.details[lead_number] }}
                            {% if nb_8.automated_leads_identified.details2[lead_number] %}
                                {{ nb_8.automated_leads_identified.details2[
                                    lead_number]|replace(",", ", ") }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="module appendix" id="TumorMap_Legend">
            <h4 class="ui top attached center aligned inverted header">
                TumorMap Legend: Pandisease Cohort Diseases only
            </h4>
            <div style="column-count:3">
                {%- for (disease, disvalue) in nb_2pt2.mss_disease_colors|dictsort -%}
                    <span style="padding:1px; display:block;
                        background-color:{{disvalue.color}}
                            {%- if disvalue.is_dark -%}
                                ; color:#FFFFFF
                            {%- endif -%}
                        ">
                    {{disease}} </span>
                {%- endfor -%}
            </div>
        </div>

        <div class="module appendix" id="app_mcs_with_clin_table">
            <h4 class="ui top attached center aligned inverted header">
                Most Correlated Samples with Clinical info
            </h4>
            <table class="ui bottom attached small celled table">
                <tr>
                    <td><b>Sample ID</b></td>
                    <td><b>Score</b></td>
                    <td><b>Diagnosis</b><br>(Site's original, Disease)</td>
                    <td><b>Histology</b></td>
                    <td><b>Stage</b></td>
                    <td><b>Grade</b></td>
                    <td><b>Subcat</b></td>
                    <td><b>Age</b></td>
                    <td><b>Mutations in Cancer Genes</b></td>
                </tr>
                {% for (mcs_id, tumormap_correlation) in nb_2pt0.tumormap_results|dictsort(
                    false, 'value') | reverse %}
                        <tr>
                            <td>
                                {{mcs_id}}
                            </td>
                            {# If the correlation is below the threshold, 
                            mark as red  #}
                            {% if mcs_id in nb_2pt0.tumormap_results_above_threshold %}
                                <td>
                                    {{'{:.2f}'.format( tumormap_correlation)}}
                                </td>
                            {% else %}
                                <td style="background-color:#FFCCCC;">
                                    {{'{:.2f}'.format( tumormap_correlation)}}
                                </td>
                            {% endif %}
                            <td><ul><li>{{ nb_2pt5.mcs_clinical_data[mcs_id]["dx_site"]}}</li>
                                <li>{{ nb_2pt5.mcs_clinical_data[mcs_id]["disease"]}}</li></ul>
                            </td>
                            <td>{{ nb_2pt5.mcs_clinical_data[mcs_id]["histology"]}}</td>
                            <td>{{ nb_2pt5.mcs_clinical_data[mcs_id]["stage"]}}</td>
                            <td>{{ nb_2pt5.mcs_clinical_data[mcs_id]["grade"]}}</td>
                            <td>{{ nb_2pt5.mcs_clinical_data[mcs_id]["subcat"]}}</td>
                            <td>{{ nb_2pt5.mcs_clinical_data[mcs_id]["age_at_dx"]}}</td>
                            <td>
                                    {% if nb_2pt6.mss_clin_and_mutations[
                                        "Mutations in Cancer Genes"][mcs_id] %}
                                        {{ nb_2pt6.mss_clin_and_mutations
                                            ["Mutations in Cancer Genes"][mcs_id]}}
                                    {% else %}
                                        no information available
                                    {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            </table>
        </div>
        <div class="module appendix">
            <h4 class="ui top attached center aligned inverted header">
                Multiply-Mutated Genes in Most Correlated Samples
            </h4>
            {% if nb_2pt6.mss_multi_genes %}
            <table class="ui bottom attached small table">
                <tr>
                    <td></td>
                    {% for (mcs_id, x) in mcs_ids | dictsort %}
                        <td>{{mcs_id}}</td>
                    {% endfor %}
                </tr>
                {% for (gene, multi_samples) in nb_2pt6.mss_multi_genes | dictsort %}
                    <tr>
                        <td>{{gene}}</td>
                        {% for (mcs_id, x) in mcs_ids | dictsort %}
                            <td>
                                {% if mcs_id in multi_samples %}
                                    {{multi_samples[mcs_id]}}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                No multiply-mutated genes were found in the most correlated samples.
            {% endif %}
        </div>
        <div class="module appendix">
            <h4 class="ui top attached center aligned inverted header">
                Multiply-Appearing Mutations in Most Correlated Samples
            </h4>
            {% if nb_2pt6.mss_multi_genes %}
            <table class="ui bottom attached small table">
                <tr>
                    <td></td>
                    {% for (mcs_id, x) in mcs_ids | dictsort %}
                        <td>{{mcs_id}}</td>
                    {% endfor %}
                </tr>
                {% for (mutation, multi_samples) in nb_2pt6.mss_multi_mutations | dictsort %}
                    <tr>
                        <td>{{mutation}}</td>
                        {% for (mcs_id, x) in mcs_ids | dictsort %}
                            <td>
                                {% if mcs_id in multi_samples %}
                                    {{multi_samples[mcs_id]}}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                No multiply-appearing mutations were found in the most correlated samples.
            {% endif %}
        </div>
        <div class="module appendix"><!-- Fusions module -->
        <h4 class="ui top attached center aligned inverted header">
            Fusions</h4>
            <div class="ui attached">
            {%- if nb_8pt5.fusions %}
                <table class="ui attached celled table">
                    <tr>
                        {%- for field in nb_8pt5.fusion_keys -%}
                            <th>{{field}}</th>
                        {%- endfor -%}
                    </tr>
                    {%- for fusion in nb_8pt5.fusions %}
                        <tr>
                        {%- for field in nb_8pt5.fusion_keys -%}
                        <td>{{fusion[field]}}</td>
                        {%- endfor -%}
                        </tr>
                    {%- endfor -%}
                </table>
            {%- elif nb_8pt5.fusion_file -%}
                The fusions output file for this sample exists but did not list any fusions.
            {%- else -%}
                No fusions output file was found for this sample; fusions are unknown.
        {%- endif -%}
            </div>
        </div> <!-- End fusions module -->

        <div class="module appendix"> <!-- Variants module -->
        <h4 class="ui top attached center aligned inverted header">
            Variants of Focus Sample</h4>
        {%- if nb_8pt5.vcf_file %}
            {%- if nb_8pt5.variants %}
            <div style="overflow-x:scroll;">
            <!-- Only show the whitelisted extra fields: genotype ref reads alt reads quality chr pos ref alt DP
            DP before ref reads, called total reads. -->
            {%- set display_these_extra_fields = 
                ["genotype", "DP", "ref reads", "alt reads", "quality", "chr", "pos", "ref", "alt"] -%}
            <table class="ui attached celled table" >
                <tr>
                    {%- for field in nb_8pt5.primary_fields -%}
                        <td style="padding:3px;"><b>{{field}}</b></td>
                    {%- endfor -%}
                    {%- for field in display_these_extra_fields -%}
                        <td style="padding:3px;">
                            {%- if field == "DP" -%}{{"total reads"}}
                            {%- else -%}{{field}}{%- endif -%}
                        </td>
                    {%- endfor -%}
                 </tr>
                 {%- for variant in nb_8pt5.variants -%}
                     <tr>
                         {%- for field in nb_8pt5.primary_fields -%}
                             {#- replacing | is only relevant to the "aa change" field
                             but won't negatively affect the other primary fields. -#}
                             <td style="padding:3px;"><b>{{variant[field] | replace("|", "<br/>") | safe}}</b></td>
                         {%- endfor -%}
                         {%- for field in display_these_extra_fields -%}
                             <td style="padding:3px;">
                             {%- if field in nb_8pt5.extra_fields %}
                                 {%- if field == "quality" -%}
                                     {{"%.2e"|format(variant[field]|float)}}
                                 {%- else -%}
                                     {{variant[field]}}
                                 {%- endif -%}
                             {%- else -%}
                                 {{""}}
                             {%- endif -%}
                             </td>
                         {%- endfor -%} 
                     </tr>
                 {%- endfor -%}
            </table>
            <div class="ui bottom attached">
                <dl>
                    <dt>AA change</dt>
                    <dd>Amino acid changes (if any). Multiple amino acid changes are reported when
                        one mutation affects multiple transcripts. This is to help identify
                        references to the mutation in the literature.</dd>
                    <dt>Type</dt>
                    <dd>The effect of this variant as identified by SNPEff.
                        <a href="http://snpeff.sourceforge.net/SnpEff_manual.html#eff">
                            http://snpeff.sourceforge.net/SnpEff_manual.html#eff</a></dd>
                    <dt>Genotype</dt>
                    <dd>Allele values separated by /. The value 0/0 is homozygous for the reference
                        allele; 0/1 is heterozygous, and 1/1 is homozygous for the alternate
                        allele. The values are assigned using 0 for the reference allele (what is
                        in the REF field), 1 for the first allele listed in ALT, 2 if there is a
                        second ALT allele, etc.</dd>
                    <dt>Quality</dt>
                    <dd>High QUAL scores indicate high confidence calls. Specifically, it's
                        the Phred-scaled quality score for the assertion made in
                        ALT, i.e. it's -10*log<sub>10</sub> probability(call in ALT is wrong)</dd>
                </dl>
            </div>
            </div>
            {%- else -%}
                <div class="ui attached">
                    Variant calling was run on this sample, but no variants were found.
                </div>
            {%- endif -%}
        {%- else -%}
            <div class="ui attached">
                No variant output file was found for this sample; variants are unknown.
            </div>
        {%- endif -%}
        </div> <!-- End variants module -->

        <div class="module appendix"><!-- FLT3-ITD module -->
        <h4 class="ui top attached center aligned inverted header">
            FLT3-ITD Events</h4>
            <div class="ui attached">
            {%- if nb_8pt5.flt3itd_events %}
                <table class="ui attached celled table">
                    <tr>
                        {%- for field in nb_8pt5.flt3itd_keys -%}
                            <th>{{field}}</th>
                        {%- endfor -%}
                    </tr>
                    {%- for flt3itd in nb_8pt5.flt3itd_events %}
                        <tr>
                        {%- for field in nb_8pt5.flt3itd_keys -%}
                        <td>{{flt3itd[field]}}</td>
                        {%- endfor -%}
                        </tr>
                    {%- endfor -%}
                </table>
            {%- elif nb_8pt5.flt3itd_file -%}
                The FLT3-ITD event output file for this sample exists but did not list any events.
            {%- else -%}
                No FLT3-ITD event output file was found for this sample; FLT3-ITD events are unknown.
        {%- endif -%}
            </div>
        </div> <!-- End FLT3-ITD module -->
        
        <h4>All pan-cancer outliers</h4>
        <div class="ui message">
            {%- for (gene, is_up) in nb_4pt0.outlier_results.pc_outlier|dictsort -%}
                {%- if is_up == "pc_up" -%}
                    {{gene }}{{" "}}
                {%- endif -%}
            {%- endfor -%}
        </div>
        <h4>All pan-disease outliers</h4>
        <div class="ui message">
            {%- for (gene, is_up) in nb_4pt0.outlier_results.pd_outlier|dictsort -%}
                {%- if is_up == "pd_up" -%}
                    {{- gene }}{{" "}}
                {%- endif -%}
            {%- endfor -%}
        </div><!-- end PC and PD outliers -->

        <div class="module appendix"><!-- Isoform Report -->
        <h4 class="ui top attached center aligned inverted header">
            Isoform Report</h4>
            <div class="ui attached">
            {%- if nb_8pt25.found_isoforms_file -%}
                {%- if nb_8pt25.isoform_results -%}
                    {%- for (gene, gene_items) in nb_8pt25.isoform_results | dictsort -%}
                        {%- if gene_items.isoform_table -%}
                            <h5>{{gene}} isoforms, ordered by IsoPct</h5>
                            <table class="ui attached celled table">
                                <tr>
                                {%- for key in nb_8pt25.isoform_table_key_order -%}
                                    <th>{{key}}</th>
                                {%- endfor -%}
                                </tr>
                                {%- for transcript in gene_items.isoform_table -%}
                                    <tr>
                                    {%- for key in nb_8pt25.isoform_table_key_order -%}
                                    <td> {{transcript[key]}}</td>
                                    {%- endfor -%}
                                    </tr>
                                {%- endfor -%}
                            </table>
                        {%- else -%}
                            Isoform expression table not found for {{gene}}. Please check the isoform notebook for errors.
                            <br/>
                        {%- endif -%}
                        {%- if gene_items.expressed_isoforms_img_data -%}
                            <img style="width:100%;" src="data:img/png;base64, {{gene_items.expressed_isoforms_img_data}}">
                        {%- else -%}
                            Expressed isoforms image not found for {{gene}}. Please check the isoform notebook for errors.
                            <br/>
                        {%- endif -%}
                        {%- if gene_items.transcript_biotypes_img_data -%}
                            <img style="width:60%;" src="data:img/png;base64, {{gene_items.transcript_biotypes_img_data}}">
                        {%- else -%}
                            Transcript biotypes image not found for {{gene}}. Please check the isoform notebook for errors.
                        {%- endif -%}
                        <br/>
                    {%- endfor -%}
                {%- else -%}
                No genes of interest were found; isoform report not generated.
                {%- endif -%}
            {%- else -%}
                No rsem_isoforms.results file was found for this sample; isoforms are unknown.
            {%- endif -%}
            </div>
        </div><!-- end isoform report -->
        <div class="module appendix"><!-- percentile ranking for drugs -->
            <h4 class="ui top attached center aligned inverted header">All-Drug report</h4>
            Expression of all drug targets identified as leads in the CKCC2 project.
            {%- if nb_8pt75.drugs_by_percentile_plot -%}
                <img style="width:100%;" src="{{nb_8pt75.drugs_by_percentile_plot}}">
            {%- else -%}
                No drug target plot was found for this sample.
            {%- endif -%}
            {%- if nb_8pt75.drug_relevant_expression_table -%}
                {#- Alternate rows between default color and alt color based on drug name -#}
                {%- set drug_table_striper = { "curr_drug":"", "using_alt_color":false } -%}

                <table class="ui attached celled table">
                    <tr>
                    {%- for key in nb_8pt75.expression_table_key_order -%}
                        <th>{{key}}</th>
                    {%- endfor -%}
                    </tr>
                    {% for gene in nb_8pt75.drug_relevant_expression_table %}
                        {%- if gene["drug"] != drug_table_striper["curr_drug"] -%}
                            {%- set _ = drug_table_striper.update({
                                "curr_drug":gene["drug"],
                                "using_alt_color": not drug_table_striper["using_alt_color"]}) -%}
                        {%- endif -%}
                        <tr {% if drug_table_striper["using_alt_color"]  %} style="background-color:#eeeeee" {%- endif -%}>
                        {%- for key in nb_8pt75.expression_table_key_order -%}
                        <td>{{gene[key]}}</td>
                        {%- endfor -%}
                        </tr>
                    {% endfor %}
                </table>
            {%- else -%}
                Drug-relevant expression table was missing or empty.
            {%- endif -%}
            </div><!-- end percentile ranking for drugs -->
        </div> <!-- End Page - treehouse internal appendix -->

    <!-- end Wrapper table - don't put visible content after here -->
    </tr></td>
    </table>
    <!-- placeholder ids -->
    <div style="display:none;">
        <span id="hideable_items"></span>
        <div id="generic_or_registry"></div>
        <div id="analyst_custom_images"></div>
    </div>
</body>
</html>
